# dependencies
node_modules

# testing
/coverage

# production
**/build/*

# misc
.DS_Store
.env
*.log*

# css
src/**/*.css

.idea


.yarn/*[!@batchx-grpc-web-api]*
!.yarn/cache/*
.yarn/cache/*.zip
.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
