language: node_js

node_js:
  - "7"

cache:
    yarn: true
    directories:
        - node_modules

install:
    yarn install


script:
    ./travis.config.sh
    yarn run deploy

branches:
    only:
        - master
        - stable
        - /^greenkeeper/.*$/
