.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;

    .info {

        display: flex;
        flex-direction: row;
        @media (max-width: 400px) {
            flex-direction: column-reverse;
            position: relative;
        }
        .profile-pic {
            width: 300px;
            height: 350px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-left: auto;
            @media (max-width: 480px) {
                width: 100%;
                margin: 0;
                position: absolute;
                top: 0;
            }
        }
        .details {
            flex-grow: 1;
            padding: 10px;
            background-color: rgb(6, 167, 99);

            @media (max-width: 480px) {
                margin-top: 350px;
                position: relative;
            }

            h4 {
                display: block;
                width: 100%;
                font-weight: 900;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
                font-size: 2.18rem;
                line-height: 110%;
                margin: 1.14rem 0 0.912rem 0;
            }
            h6 {
                display: block;
                width: 100%;
                font-weight: 300;
                margin-top: -10px;
                margin-bottom: 30px;
                font-size: 1.2em;
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
            }
            div {
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 5px;

                i.material-icons {
                    margin-right: 20px;
                }
                a, a:visited, a:hover {
                    color: black;
                    padding: 10px;

                    &.linkedin {
                        color: #0084bf;
                    }

                    &.twitter {
                        color: #1B95E0;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                }

                &.summary {
                    justify-content: flex-start;
                    li {
                        list-style-type: square;
                    }
                }
            }
        }
    }
}

.profile-container {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    height: 100%;
    display: flex;

    @media (max-width: 480px) {
        width: 100%;
        margin: auto;
    }
}
