.profile {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;

    .info {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .profile-pic {
            width: 300px;
            height: 350px;
            flex-grow: 0;
            flex-shrink: 0;
            margin-left: auto;
        }
        .details {
            flex-grow: 1;
            padding: 10px;

            h1 {
                text-align: center;
            }
            h4 {
                margin-bottom: 0;
            }

            div {
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 5px;

                i.material-icons {
                    margin-right: 20px;
                }
                a, a:visited, a:hover {
                    color: black;
                    padding: 10px;

                    &.linkedin {
                        color: #0084bf;
                    }

                    &.twitter {
                        color: #1B95E0;
                    }
                    &:first-child {
                        padding-left: 0;
                    }
                }

                &.summary {
                    padding: 0;
                    justify-content: flex-start;
                    li {
                        list-style-type: square;
                    }
                }
            }
        }
    }
}
