.education-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;

    .education {
        padding: 8px 15px;
        border-radius: 20px;
        background-color: darkgrey;
        margin: 5px;
    }
}

.education-list-container {
    h4 {
        margin: 5px 0;
    }
}
