.education {
    padding: 5px;
    color: #616161;

    a {
        color: inherit;
        text-decoration: none;
    }
    h4 {
        font-weight: normal;
        font-size: 1.4em;
        margin: 10px 0;
        line-height: 1.1;
        text-decoration: none;
    }
    h6 {
        color: #777;
        font-size: .75em;
        margin: 10px 0;
        font-weight: 400;
    }
}

.EducationTimeline {
    .timelineBlock {
        > .timelineContent {
            background-color: white;
        }
    }
}
