.education-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 5px 0;

    .education {
        flex: 1;
        padding: 0;
        p {
            margin: 0;
            span, address {
                margin: 5px 2px;
                display: inline-block;
                padding: 2px;
            }
        }
    }
}

.education-list-container {
    h4 {
        margin: 5px 0;
    }
}
